body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F0E8;
    color: #4B5945;
}
nav {
    background-color: #89A8B2;
    padding: 15px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #F1F0E8;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
section {
    padding: 60px;
    text-align: center;
}
.project-tile, .testimonial {
    background-color: #B3C8CF;
    padding: 30px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
    color: #89A8B2;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
h1, h2, h3 {
    color: #4B5945;
}